/*Theme base font sizes:*/
.errorText{
    -fx-font-size: 13pt;
}

.big{
   -fx-font-size: 17pt;
}
Button, Label, ChoiceBox, Slider, TextField, .menu-button{
    -fx-font-size: 13pt;
}

Slider .axis {
    -fx-font-size: 13pt;
}
.text-field {
    -fx-font-size: 13pt;
}

.text-field:focused {
    -fx-font-size: 13pt;
}
/*Table view:*/
.table-view .column-header-background .label{
    -fx-font-size: 12pt;
}
.table-view .table-cell{
    -fx-font-size: 12pt;
}
/*Tree view:*/
.tree-cell{
    -fx-font-size: 11pt;
}

/*menus and menu items:*/
.menu-bar > .container > .menu-button > .label {
    -fx-font-size: 13pt;
}

.menu-bar > .container > .menu-button:hover > .label,
.menu-bar > .container > .menu-button:focused > .label,
.menu-bar > .container > .menu-button:showing > .label {
    -fx-font-size: 13pt;
}
.menu-item .label {
    -fx-font-size: 13pt;
}
.menu-item:focused .label, .menu-item:hovered .label {
    -fx-font-size: 13pt;
}
